@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <div class="header-content">
            <div class="logo"><i class="bi bi-shop"></i> GoodHamburger</div>
            <NavMenu />
        </div>
    </header>
    
    <main>
        @Body
    </main>
    
    <footer class="footer">
        <p>&copy; 2024 GoodHamburger - Os melhores hambºrgueres da cidade!</p>
    </footer>
    
    <ToastContainer />
</div>
